#nav-bar {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  position: relative;
  padding-bottom: 20px;
  font-size: 200%;
  left: 10px;
  bottom: 17px;
}

#nav-bar .button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #cce8e1;
  font-size: 20px;
  color: #34c9a4;
  padding: 17px 12px;
  float: right;
  margin-top: 10px;
}

 #nav-bar .button:hover {
  border: 1px solid black;
  background-color: #e4f8ff;
  color: black;
}