#submitTweet {
  margin-top: 5px;
  font-size: large;
}

.new-tweet {
  border: 2px solid #DCDCDC;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: #F2F1F1;
  display: none;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0px;
}

.new-tweet textarea {
  position: relative;
  padding: 5px;
  width: 100%
}

.new-tweet .counter {
  position: relative;
  float: right;
  margin-top: 10px;
  font-size: small;
  font-style: italic;
}

.new-tweet .red, .error {
  color: red;
}

.new-tweet .error {
  display:block;
  font-size: small;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0px, 15px 5px;
  float: right;
}