#tweets-container .tweets {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  color: rgb(129, 129, 129);
  margin-top: 10px;
}

#tweets-container i {
  color: white;
  float: right;
  padding-left: 5px;
  font-size: 1em;
}

#tweets-container header {
  background-color: #eaedec;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  height: 70px;
  padding: 10px;
}

#tweets-container .thumbnail {
  float: left;
  height: 50px;
  width: 50px;
}

#tweets-container h2 {
  margin-top: 5px;
  margin-left: 60px;
  width: 50%;
}

#tweets-container header p {
  font-size: small;
  margin: 10px 0px 0px;
  float: right;
  text-align: right;
}
#tweets-container footer {
  font-size: small;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

#tweets-container .tweet {
  padding: 35px 15px;
  color: #171f33;
  font-size: 1em;
  overflow-wrap: break-word;
  border-bottom: 1px solid rgb(221, 221, 221);

}
#tweets-container .tweets:hover {
  filter: brightness(95%);
  color: black;
}

#tweets-container .tweets:hover footer i {
  color: #95e5d2;
}
