#tweets-container .tweets {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}

#tweets-container header {
  background-color: #F5F5F5;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  color: rgb(129, 129, 129);
  height: 70px;
  padding: 10px;
}

#tweets-container .thumbnail {
  float: left;
  height: 50px;
  width: 50px;
}

#tweets-container h2 {
  margin-top: 5px;
  margin-left: 60px;
  width: 50%;
}

#tweets-container p {
  font-size: small;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 0px;
  float: right;
  text-align: right;
}
#tweets-container footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

#tweets-container .tweet {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
#tweets-container .tweets:hover {
  filter: brightness(85%);
}
