#tweetContainer {
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}

#tweetContainer header {
  background-color: #F5F5F5;
  height: 70px;
  padding: 10px;
}

#tweetContainer .thumbnail {
  float: left;
  height: 50px;
  width: 50px;
}

#tweetContainer h2 {
  margin: auto;
  margin-left: 60px;
  margin-right: 0px;
  width: 40%;
}

#tweetContainer p {
  width: 20%;
  margin-top: 5px;
  margin-right: 0px;
  float: right;
}

#tweetContainer .tweet {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: 1px solid #DCDCDC;*/
}

#tweetContainer footer {
  border-top: 1px solid #F3F3F3;
  padding: 5px;
}

#tweetContainer:hover {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}